<section id="container" class="">
    <!--header start-->

    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
                <i ng-click="toggleLeft()" class="icon_menu"></i>
            </div>
        </div>

        <!--logo start-->
        <a href="#" class="logo">Job <span class="lite">Hunter</span></a>
        <!--logo end-->

        <div class="nav search-row" id="top_menu">
            <!--  search form start -->
            <ul class="nav top-menu">
                <li>
                    <form class="navbar-form">
                        <input class="form-control" placeholder="Search" type="text">
                    </form>
                </li>
            </ul>
            <!--  search form end -->
        </div>

        <div class="top-nav notification-row">
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="username">Username</span>
                    </a>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="">
                    <a class="" href="#">
                        <i class="icon_house_alt"></i>
                        <span>Homepage</span>
                    </a>
                </li>
                <li class="">
                    <a href="javascript:;" class="">
                        <i class="icon_group"></i>
                        <span>User List</span>
                        <!--<span class="menu-arrow arrow_carrot-right"></span>-->
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_desktop"></i>
                        <span>Course</span>
                        <!--<span class="menu-arrow arrow_carrot-right"></span>-->
                    </a>
                </li>
                <li>
                    <a class="" href="widgets.html">
                        <i class="icon_genius"></i>
                        <span>Jobs</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_contacts"></i>
                        <span>Friends</span>
                        <!--<span class="menu-arrow arrow_carrot-right"></span>-->
                    </a>
                </li>

                <li>
                    <a class="" href="chart-chartjs.html">
                        <i class="icon_profile"></i>
                        <span>Profile</span>

                    </a>

                </li>



                <li class="sub-menu ">
                    <a href="javascript:;" class="">
                        <i class="icon_lock_alt"></i>
                        <span>Logout</span>
                        <!--<span class="menu-arrow arrow_carrot-right"></span>-->
                    </a>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa fa-bars"></i> Pages</h3>
                    <!--<ol class="breadcrumb">-->
                        <!--<li><i class="fa fa-home"></i><a href="../index2.html">Home</a></li>-->
                        <!--<li><i class="fa fa-bars"></i>Pages</li>-->
                        <!--<li><i class="fa fa-square-o"></i>Pages</li>-->
                    <!--</ol>-->
                </div>
            </div>
            <!-- page start-->
            Page content goes here
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
</section>
<!-- container section end -->
<!-- javascripts -->
<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="../../js/jquery.scrollTo.min.js"></script>
<script src="../../js/jquery.nicescroll.js" type="text/javascript"></script><!--custome script for all page-->
<script src="../../js/scripts.js"></script>
