<!--header start-->
<nav class="header dark-bg navbar-fixed-top navbar">
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
            <i class="icon_menu"></i>
        </div>
    </div>

    <!--logo start-->
    <a href="#!/homepage" class="logo">Job <span class="lite">Hunter</span></a>
    <!--logo end-->

    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
            <li>
                <a>
                    <i class="icon_profile"></i>
                    <span class="username">Hello, {{model.user.username}}</span>
                </a>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</nav>


<div class="row container-fluid">
    <!--sidebar start-->
    <div class="sidebar-style col-sm-2 hidden-xs">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li><a href="#!/homepage">
                <i class="icon_house_alt"></i>
                <span>Homepage</span>
            </a></li>
            <li><a ng-if="model.user.roles.indexOf('ADMIN')>-1"
                   href="#!/admin">
                <i class="icon_group"></i>
                <span>Admin Page</span>
                <!--<span class="menu-arrow arrow_carrot-right"></span>-->
            </a></li>
            <li><a href="#!/course">
                <i class="icon_desktop"></i>
                <span>Course</span>
                <!--<span class="menu-arrow arrow_carrot-right"></span>-->
            </a></li>
            <li><a href="#!/job">
                <i class="icon_genius"></i>
                <span>Jobs</span>
            </a></li>

            <li><a href="#!/profile">
                <i class="icon_id"></i>
                <span>Profile</span>

            </a></li>



            <li><a>
                <i class="icon_lock_alt"></i>
                <span ng-click="model.logout()">Logout</span>
                <!--<span class="menu-arrow arrow_carrot-right"></span>-->
            </a></li>

        </ul>
        <!-- sidebar menu end-->
    </div>
    <!--sidebar end-->

    <div class="content-style col-xs-12 col-sm-10 pull-right">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Profile</h3>
            </div>
        </div>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <div class="fa fa-thumbs-o-up"></div>
                Basic Profile
            </ol>
            <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
            <div ng-show="model.updated" class="alert alert-success" role="alert">{{model.updated}}</div>
            <form class="cl-form-bottom-padding">
                <label for="username">Username</label>
                <input ng-model="model.user.username"
                       type="text"
                       class="form-control"
                       placeholder="Username"
                       id="username" required>
                <label for="email">Email</label>
                <input ng-model="model.user.email"
                       type="email"
                       class="form-control"
                       placeholder="alice@emmail.com"
                       id="email" required>
                <label for="fName">First Name</label>
                <input ng-model="model.user.firstName"
                       type="text"
                       class="form-control"
                       placeholder="first name"
                       id="fName" required>
                <label for="lName">Last Name</label>
                <input ng-model="model.user.lastName"
                       type="text"
                       class="form-control"
                       placeholder="last name"
                       id="lName" required>
            </form>

            <br/>
            <br/>
            <ol class="breadcrumb">
                <div class="fa fa-thumbs-o-up"></div>
                About Myself
            </ol>

            <label for="description">Description</label>

            <text-angular
                    ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                        ['indent','outdent'],['html']]"
                    ng-model="model.user.description"
                    type="text"
                    id="description"
                    placeholder="Describe yourself"
                    ta-text-editor-class="form-control myform1-height"
                    ta-html-editor-class="form-control myform1-height">
            </text-angular>

            <br/>
            <br/>
            <ol class="breadcrumb">
                <div class="fa fa-thumbs-o-up"></div>
                Detailed Information
            </ol>
            <form class="cl-form-bottom-padding">
                <label for="location">Location Preference</label>
                <input ng-model="model.user.location"
                       type="text"
                       class="form-control"
                       placeholder="City or area"
                       id="location">
                <label for="job">Job Title</label>
                <input ng-model="model.user.job"
                       type="text"
                       class="form-control"
                       placeholder="Job you interested in"
                       id="job" required>
                <label for="salary">Salary</label>
                <input ng-model="model.user.salary"
                       type="number"
                       class="form-control"
                       placeholder="Expected salary"
                       id="salary" required>
            </form>
            <label>Location Guide</label>
            <div id="map" style="width:100%;height:400px;"></div>
            <br/>
            <br/>
            <a ng-click="model.updateUser(model.user)" class="btn btn-primary btn-block">
                Save Change
            </a>
            <a ng-click="model.deleteUser(model.user)"
               class="btn btn-danger btn-block">
                Unregister
            </a>

        </div>

        <div class="container-fluid text-right">
            <div class="credits">
                CS5610 project by Chi Zhang
            </div>
        </div>
    </div>
</div>

<script>
    var map, infoWindow;
    function myMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('You are here');
                infoWindow.open(map);
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKGNUy_HuFFdmb-dsQrGfcexq6AMNpVGw&callback=myMap"></script>