<!--<script src="../../js/html5shiv.js"></script>-->
<div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
<div class="login-img3-body">
    <!--<div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>-->
    <form class="login-form" action="../../index.html">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input ng-model="model.username"
                       type="text"
                       class="form-control"
                       placeholder="Username"
                       autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input ng-model="model.password"
                       type="password"
                       class="form-control"
                       placeholder="Password">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input ng-model="model.vpassword"
                       type="password"
                       class="form-control"
                       placeholder="Confirm Password">
            </div>
            <a ng-click="model.register(model.username, model.password, model.vpassword)"
                    class="btn btn-primary btn-lg btn-block" type="submit">
                Create Account
            </a>
            <a href="#!/login"
                    class="btn btn-danger btn-lg btn-block" type="submit">
                Cancel
            </a>
        </div>
    </form>
</div>